@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

canvas {
    display: block;
    cursor: url("../assets/cursorSmall.png"), auto;

}

body {
    margin: 0;
    background-color: #f8d5c0;
    cursor: url('../assets/cursorSmall.png'), auto;
    background-image: url("../assets/leaves.gif");
    background-repeat: repeat-x;
    background-position: left;
    background-size: contain;
    background-attachment: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

#homeScreen {
    width: 100%;
    height: 100vh;
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
    background-color: #f8d5c0;
    gap: 100px;
    cursor: url('../assets/cursorSmall.png'), auto;
    justify-content: space-around;
    overflow: hidden;
}

.tree {
    width: 50%;
}

.menu {
    display: flex;
    flex-direction: column;
    width: 37%;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: rgba(249, 179, 135, 0.509);
    border-radius: 8px;
}

@keyframes pulse {
    0% {
        transform: scale(1);
        opacity: 1;
    }

    50% {
        transform: scale(1.1);
        opacity: 0.9;
    }

    100% {
        transform: scale(1);
        opacity: 1;
    }

}

.kittyFall {
    display: flex;
    font-family: "Press Start 2P";
    font-style: italic;
    color: #783511;
    margin: 0;
    padding: 45px;
    animation: pulse 2s infinite alternate;
    width: 90%;
    justify-content: center;
}

.description {
    font-family: "Press Start 2P";
    font-style: italic;
    color: #a54410;
    font-size: 10px;
    text-align: center;
    margin: 0 100px;
    line-height: 2;
    padding: 15px;
    background-color: #f0ae8ac4;
    border-radius: 10px;
}

#start {
    background-image: url('../assets/orange.png');
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    background-color: transparent;
    padding: 55px 60px;
    font-size: 18px;
    width: 100%;
    border: none;
    transition: transform 0.2s ease-in-out;
    cursor: url("../assets/cursorSmall.png"), auto;
}

.clickCat {
    font-family: "Press Start 2P";
    font-style: italic;
    color: #a54410;
    font-size: 10px;
    text-align: center;
    margin: 0 auto;
    /* margin: 10px 0; */
    padding: 10px;
}

.instruction {
    font-family: "Press Start 2P";
    background-color: #f8d5c0;
    color: rgb(171, 87, 3);
    padding: 20px 25px;
    font-size: 12px;
    border-radius: 8px;
    border: 1px solid #a54410;
    cursor: url('../assets/cursorSmall.png'), auto;
    transition: transform 0.1s;
    margin: 20px;
}

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6);
    display: none;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.instructionContent {
    font-family: "Press Start 2P";
    background-color: #fff9f0;
    padding: 30px;
    border-radius: 12px;
    border: 2px solid #783511;
    width: 90%;
    max-width: 450px;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.5);
    text-align: center;
}

.titleInsruction{
font-size: 14px;
color: #3c1106;
margin-top: 0;
margin-bottom: 20px;
text-shadow: 1px 1px #e6a23c;
}
    
.textInstruction, .ruleInstruction{
    font-size: none;
    padding-left: 0;
    margin: 20px 0;
}

.rules{
    font-weight: bold;
    color: #a54410;
    display: inline-block;
    min-width: 60px;
}

.closeBtn{
    font-family: 'Press Start 2P';
    padding: 10px 20px;
    font-size: 10px;
    margin-top: 20px;
    border: 2px solid #783511;
    border-radius: 8px;
    background-color: #e6a23c;
    color: #3c1106;
    cursor: url('../assets/cursorSmall.png'), auto;
    transition: background-color 0.2s transform 0.1s;
}

#gameScreen {
    position: relative;
    width: 380px;
    height: 500px;
    margin: 20px auto;
    background-color: #f0eded;
    border: 1px solid #444;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.3);
    border-radius: 8px;
    display: none;
    overflow: hidden;
    cursor: url('../assets/cursorSmall.png'), auto;
}


#clickMessage {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -10%);
    font-family: "Press Start 2P", monospace;
    color: rgb(73, 6, 53);
    background-color: rgb(233, 199, 236, 0.90);
    border: 1px solid rgb(73, 12, 72);
    text-align: center;
    font-size: 10px;
    padding: 10px 10px;
    cursor: url('../assets/cursorSmall.png'), auto;
    border-radius: 8px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);

}

#gameOverBox {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(233, 133, 61, 0.95);
    border: 1px solid rgb(78, 42, 3);
    padding: 15px 30px;
    text-align: center;
    display: none;
    cursor: url('../assets/cursorSmall.png'), auto;
    border-radius: 3px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);

}

#gameOverMessage {
    font-family: 'Press Start 2P', monospace;
    font-size: 20px;
    color: rgb(63, 26, 8);
    margin: 0;
    cursor: url('../assets/cursorSmall.png'), auto;

}

#playAgain {

    font-family: "Press Start 2P";
    background-color: #f8d5c0;
    color: rgb(171, 87, 3);
    padding: 10px 25px;
    font-size: 10px;
    border-radius: 8px;
    border: 1px solid #a54410;
    cursor: url('../assets/cursorSmall.png'), auto;
    transition: transform 0.1s;
    margin: 5px;
}

#home {
    font-family: "Press Start 2P";
    background-color: #f8d5c0;
    color: rgb(171, 87, 3);
    padding: 10px 25px;
    font-size: 10px;
    border: 1px solid #a54410;
    border-radius: 8px;
    cursor: url('../assets/cursorSmall.png'), auto;
    transition: transform 0.1s;
    margin: 5px;
}

#playAgain:hover,
#home:hover {
    transform: translateY(-1px);
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

#score {
    font-family: "Press Start 2P";
    font-size: 12px;
    margin: 20px auto 20px;
}